<header class="header">
  <h1 class="header__site">
    <a href="http://thegarg.de"><strong>thegarg</strong>.de</a>
  </h1>
  <nav class="header__navigation">
    <ul>
      <li>
        <a href="https://github.com/gargs0n" target="_blank" class="header__link header__link--github">github</a>
      </li>
      <li>
        <a href="https://www.xing.com/profile/Georg_Hemprich" target="_blank" class="header__link header__link--xing">xing</a>
      </li>
      <li>
        <a href="mailto:mail@thegarg.de" class="header__link header__link--mail">mail</a>
      </li>
    </ul>
  </nav>
</header>
