.portfolio {

  background-color: #f2f3f4;

  &__content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }

  > p {
    padding: 20px;
    margin: 0;
  }

  article {

    padding: 20px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-top: 1px solid #000;

    @include breakpoint(w768) {
      width: 50%;

      &:nth-child(odd) {
        border-right: 1px solid #000;
      }
    }

    @include breakpoint(w1280) {
      width: 25%;
      border-right: 1px solid #000;

      &:last-child {
        border-right: 0;
      }

      &:nth-child(-n+4) {
        border-top: 0;
      }
    }

    h4 {
      margin: 10px 0 5px 0;
    }

    img {
      display: block;
      width: 100%;
    }

    li {
      font-size: 14px;
    }

    p {
      margin: 10px 0 0 0;
      line-height: 18px;
    }
  }
}
